
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<a href="/CurriculumVitae/Index"> Index </a>
<a href="/CurriculumVitae/Home"> Home </a>
<a href="/CurriculumVitae/Projects"> Projects </a>
<a href="/CurriculumVitae/Referrences">Referrences </a>

<ul style="list-style-type:circle">
    <li>BSc</li>
    <h6>Department: CSE </h6>
    <h6>Institute: AIUB </h6>
    <h6>Year: 2020 - Present</h6>

    <li>HSC</li>
    <h6>Passign Year: 2019 </h6>
    <h6>Institute: BAFSK </h6>
    <h6>Group: Science</h6>

    <li>SSC</li>
    <h6>Passign Year: 2017 </h6>
    <h6>Institute: BAHSC </h6>
    <h6>Group: Science</h6>

</ul>
