
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<a href="/CurriculumVitae/Index"> Index </a>
<a href="/CurriculumVitae/Education"> Education </a>
<a href="/CurriculumVitae/Projects"> Projects </a>
<a href="/CurriculumVitae/Referrences">Referrences </a>

<h3>Name: Sadia Afrin</h3>
<h3>Email: afrin_sadia@ieee.org</h3>
<h3>ID:20-43666-2</h3>

