
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/CurriculumVitae/Home"> Home </a>
<a href="/CurriculumVitae/Education"> Education </a>
<a href="/CurriculumVitae/Projects"> Projects </a>
<a href="/CurriculumVitae/Referrences">Referrences </a>
