
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<a href="/CurriculumVitae/Index"> Index </a>
<a href="/CurriculumVitae/Home"> Home </a>
<a href="/CurriculumVitae/Education"> Education </a>
<a href="/CurriculumVitae/Referrences">Referrences </a>
<br>
<br>
<table>
    <tr>
        <td>OOP1 : Women's Ride Sharing Management</td>
    </tr>
    <tr>
        <td>OOP2 : MetroRail SafeGo</td>
    </tr>
    <tr>
        <td>Web Tech : SA Entertainment</td>
    </tr>
</table>
