
@{
    ViewBag.Title = "Referrences";
}

<h2>Referrences</h2>
<a href="/CurriculumVitae/Index"> Index </a>
<a href="/CurriculumVitae/Home"> Home </a>
<a href="/CurriculumVitae/Education"> Education </a>
<a href="/CurriculumVitae/Projects">Projects </a>
<br>
<br>
<table>
    <tr>
        <td>
            <b> DR. MD. ABDULLAH - AL - JUBAIR</b>
            <br />
            <i>Assistant Professor, Head-In-Charge [Undergraduate Program].</i>
            <br />
            American International University-Bangladesh (AIUB)
            <br />
            <b>Contact No: </b>01710000000
            <br />
            <b>Email: </b>abdullah@aiub.edu
            <br />
            <b>Website: </b>www.aiub.edu
        </td>
        <td>
            <b> DR. HOSSAIN MD. SHAKHAWAT</b>
            <br />
            <i>Assistant Professor,CSE</i>
            <br />
            American International University-Bangladesh (AIUB)
            <br />
            <b>Contact No: </b>01710000000
            <br />
            <b>Email: </b>shakhawat@aiub.edu
            <br />
            <b>Website: </b>www.aiub.edu
        </td>
    </tr>
</table>