<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <div>
            <a class="btn btn-success" href="/ProductsProfile/MyProfile">My Profile</a>
            <a class="btn btn-danger" href="/ProductsProfile/Logout">Logout</a>
        </div>
        @RenderBody()
        <div>
            Copyright @@ .NET[C] @DateTime.Now.Year
        </div>
    </div>
</body>
</html>