
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomePageView.cshtml";
}

<h2>Home</h2>

<h3><b>Welcome to Product Manager</b></h3>
<h4>Please create a profile for better experience </h4>
<h4>We're alwayas available for giving you better service.</h4>
<br>
