
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomePageView.cshtml";
}

<h2>Login</h2>
<form>
    <input type="text" placeholder="Username" /><br />
    <input type="text" placeholder="Password" /><br />
</form><br />
<a href="/ProductsProfile/MyProfile" class="btn btn-primary">Login</a>

