
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_HomePageView.cshtml";
}

<h2>Products</h2>
<h3>Products category</h3>
<ul style="list-style-type:circle">
    <li><b>Food</b></li>
    <h5>Burger</h5>
    <h5>Pizza</h5>
    <h5>Pasta</h5>

    <li><b>Home Decor</b></li>
    <h5>Lights</h5>
    <h5>Pillow</h5>
    <h5>Showpiece </h5>

    <li><b>Book</b></li>
    <h5>Nobel</h5>
    <h5>Horror</h5>
    <h5>Classic </h5>

</ul>

